@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

input:-webkit-autofill {
    box-shadow: 0 0 0px 1000px white inset !important;
}


.inputGroup {
    font-family: 'Segoe UI', sans-serif;
    margin: 1em 0 1em 0;
    position: relative;
}

.inputGroup input,
.inputGroup textarea {
    font-size: 100%;
    padding: 0.8em;
    outline: none;
    border: 1px solid rgb(200, 200, 200);
    background-color: transparent;
    border-radius: 10px;
    width: 100%;
}

.inputGroup label {
    font-size: 100%;
    position: absolute;
    left: 0;
    padding: 0.8em;
    margin-left: 0.5em;
    pointer-events: none;
    transition: all 0.3s ease;
    color: rgb(100, 100, 100);
}

.inputGroup :is(input:focus, input:valid, textarea:focus, textarea:valid)~label {
    transform: translateY(-50%);
    margin: 0em;
    margin-left: 1.3em;
    padding: 0.4em;
    color: rgb(0, 0, 0);
    background-color: #f5f5f4;
}

.inputGroup :is(input:focus, input:valid, textarea:focus, textarea:valid),
.container:has(select:focus),
.container:has(select:valid) {
    border: 1px solid rgb(0, 0, 0);
}



.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 270px;
    height: 50px;
    border-radius: 10px;
    position: relative;
    border: 1px solid rgb(200, 200, 200);
}

.prefix {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
    width: 80px;
    font-weight: 400;
    padding: 10px;
    background-color: #f5f5f4;
    border-radius: 10px 0px 0px 10px;
}

.myinput-link {
    display: flex;
    align-items: start;
    justify-content: start;
    outline: none;
    font-weight: 500;
    border: none;
    border-radius: 0px 10px 10px 0px;
    padding: 0px 10px;
    height: 100%;
    width: 200px;
    background-color: #f5f5f4;
    font-size: 15px;
}

.container input:focus+label,
.container input:valid+label,
.container textarea:focus+label,
.container textarea:valid+label {
    transform: translateY(-70%) scale(.9);
    margin: 0em;
    margin-left: 1.3em;
    padding: 0.4em;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}